@import "~bootstrap/scss/bootstrap";

.custom-nav {
  margin: 15px 0;
}

.custom_gritter {
  background-color: green;
  border-radius: 5px;
  text-align: center;
  border: 1px solid white;
}

.gritter-item-wrapper {
  position: relative;
  margin: 0 0 10px 0;
}
