<h1> Homepage for the Posts </h1>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Overtime hours</th>
      <th scope="col">rationale</th>
      <th scope="col">Date</th>
      <th scope="col">User</th>
      <th scope="col">Status</th>
      <th scope="col">Update</th>
    </tr>
  </thead>
  <tbody>
  <%= render @posts %>
  </tbody>
</table>